@import url(./variables.css);
/* General styling */
body {
  font-family: "Barlow Semi Condensed", system-ui, sans-serif;
  font-weight: 700;
  background: var(--clr-bg-gradient);
  background-repeat: no-repeat;
  color: white;
  display: grid;
  min-height: 100dvh;
  place-content: center;
  /* padding-inline: 1em; */
  
}
  .game__container {
    /* background-image: url(../img/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center bottom 90px;
    background-size: 200px; */
    overflow: hidden;
    /* position: relative; */
    /* top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
  
  }

/* .game__container {
  padding-inline: 1em;
} */

/* Score board */
.score__board-container {
  --width: 23.4375rem;
  min-width: var(--width);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border: 3px solid var(--clr-neutral-header-outline);
  border-radius: 4px;
  padding-inline: 1.5em;
  padding-block: 1em;

  .score__game-logo {
    max-width: 100px;
  }
  .score__board {
    background-color: white;
    color: var(--clr-neutral-score-text);
    padding: 0.5em 1em;
    border-radius: 0.3em;
    text-transform: uppercase;
    line-height: 1;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .score__board-title {
      font-size: 12px;
      letter-spacing: 2px;
    }
    
    .score__board-number {
      color: var(--clr-neutral-dark-text);
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
}
/* Select rock, paper and scissors */
.game__img{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-block: 1em;
  margin-inline: auto;
}
.game__img__wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.btn {
  width: 130px;
  height: 130px;
  background-color: white;
  border: 15px solid;
  border-radius: 50%;
  /* cursor: pointer; */
}
:is(.choice__btn-paper, .choice__btn-rock, .choice__btn-scissors) {
  cursor: pointer;
}
.choice__btn-paper {
  border-color: hsl(230,89%,62%);
  box-shadow: 0 5px 0 0 hsl(230, 54%, 45%);
}
.choice__btn-scissors {
  border-color: hsl(39,89%,49%);
  box-shadow: 0 7px 0 0 hsl(40,84%,53%) 
}
.choice__btn-rock {
  border-color: hsl(349,71%,52%);
  box-shadow: 0 7px 0 0 hsl(349, 70%,56%);
}

.game__img-wrapper__rock__paper {
  /* width: 480px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.game__img-wrapper__rock {
  margin-block-start: 1em;
  margin-inline: auto;
}
/* Rule button */
.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 3em;
  .rules-btn {
    cursor: pointer;
    background-color: hsl(237,49%,15%);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 0.4em;
    border: 2px solid var(--clr-neutral-header-outline);
    font-weight: 400;
    padding: 0.2em 1.2em;
    letter-spacing: 2px;
  }
}

.rules__instruction {
  display: none;
  width: 100%;
  min-height: 100dvh;
  border-radius: 0.3em;
  background-color: white;
  margin-block-end: 1em;
  position: absolute;
  /* transition: 3s ease-in-out; */
.rules__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 5em;

}
  p {
  color: var(--clr-neutral-dark-text);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-block-start: 3em;
  }
}

.rules__close-btn {
  cursor: pointer;
  filter: brightness(0.1);
  /* font-weight: 700; */
}


/* || Toggle Functionality */

.game__rules {
  display: block;
}

/* Hidden */
.hiddenChoice, .hide {
  display: none;
}

.hideChoice {
  display: block;
  /* position: relative; */
}

.hideChoice {
  display: block;
}
.animate {
  animation: slideFromBottom 0.5s forwards;
}
.animate__top {
  animation: slideFromTop 0.5 forwards;
}

.hiddenChoice.hideChoice {
  animation: slideFromLeft 0.5s forwards;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


.hidden__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  /* position: absolute; */
  /* inset: 0; */
}
.selection__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}
.user__select, .computer__select {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;

  .result__title {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  .result__btn {
    background-color: white;
    color: var(--clr-neutral-score-text);
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 2.5em;
    cursor: pointer;

  }
}

@media screen and (min-width: 75em) {
  
}